@font-face {
    font-family: Lato;
    src: url('/static/fontawesome/fonts/Lato-Regular.ttf') format('truetype')
}
body, td {
    font-family: Lato, serif;
    font-size: 16px;
}
input, select, option {
    font-family: Lato, serif;
}

h1 {
    font-size: 28px;
    font-weight: normal;
    font-family: "High Tower Text", serif;
}
.scroll {
    max-height: 640px;
    overflow-y: scroll;
}
.mana-image {
    max-height: 24px;
}
.mana-image-sm {
    max-height: 16px;
}
.card-image {
    max-height: 64px;
}
.navHeader {
    font-size:24px;
    font-family: "High Tower Text", serif;
}