{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if srch_term %}
        {% breadcrumb 'Search' 'app:card_search' %}
    {% else %}
        {% breadcrumb card_set.code 'app:card_list' card_set.code %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="small" id="breadcrumbs">{% render_breadcrumbs %}</div>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12 align-middle">
                        <h1>{% if srch_term %}{{ title }} - {{ srch_term }}{% else %}{{ card_set.name }}{% endif %}</h1>
                    </div>
                </div>
            </div>
            <div class="card-body scroll">
                <table class="display" id="myTable">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Card Info</th>
                            <th>Mana cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in cards %}
{#                            {% if c.image_url %}#}
                            <tr>
                                <td>
                                    <a href="{% url 'app:card_image' c.id %}">
                                        <img class="img-thumbnail" src="{{ c.image_url }}" alt="{{ c.name }}">
                                    </a>
                                </td>
                                <td class="col-sm-8 align-text-top">
                                    <p><a href="{% url 'app:card_image' c.id %}">{{ c.name }}</a></p>
                                    <p>{{ c.type }}</p>
                                    <p class="small text-muted">{{ c.text|safe }}</p>
                                    {% if c.power %}
                                        <p>{{ c.power }}/{{ c.toughness }}</p>
                                    {% endif %}
                                </td>
                                <td class="align-text-top col-sm-2">
{#                                    {{ c.mana_cost }}#}
                                    {% for m in c.mana_cost %}
                                        <img class="img-fluid mana-image" src="https://svgs.scryfall.io/card-symbols/{{m | get_symbol}}.svg" alt="{{ m|get_symbol }}">
{#                                        <img class="img-fluid mana-image" src="{{ m| get_symbol_uri }}" alt="{{ m|get_symbol }}">#}
                                    {% endfor %}
                                </td>
                            </tr>
{#                            {% endif %}#}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ cards|length }} Items</small>
            </div>
        </div>
    </div>
    <script>
        let table = new DataTable(
            '#myTable',
            {
                order: [[1, 'asc']],
                lengthMenu: [[25, 50, 100, -1], [25, 50, 100, 'All']]
            }
        )
    </script>
{% endblock %}