{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb card_set.code 'app:card_list' card_set.code %}
    {% breadcrumb obj.name 'app:card_image' obj.id %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="small" id="breadcrumbs">{% render_breadcrumbs %}</div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h1>{{ obj.name }}</h1>
                    </div>
                    <div class="card-body">
                        <img class="card-img" src="{{ obj.image_url }}" alt="{{ obj.name }}">
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-8">
                                {{ obj.type }}
                            </div>
                            <div class="col-sm-4 me-auto text-end">
                                {% for m in obj.mana_cost %}
                                    <img class="img-fluid mana-image" src="https://svgs.scryfall.io/card-symbols/{{m|get_symbol}}.svg" alt="{{ m|get_symbol }}">
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                {% if obj.power %}
                                    {{ obj.power }}/{{ obj.toughness }}
                                {% endif %}
                            </div>
                            <div class="col-sm-4">&nbsp;</div>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ obj.text| safe }}
                    </div>
                    {% if obj.flavor %}
                        <div class="card-body">
                            <i>{{ obj.flavor }}</i>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
